.pokedex h1 {
  text-align: center;
  color: rgb(233, 59, 59);
  padding: 30px 0;
}

.pokecard_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  align-items: center;
  margin: auto;
  width: 70%;
  margin-bottom: 20px;
}
